$colorFondo:linear-gradient(to right, rgb(76, 0, 255),rgb(58, 58, 148) ,rgb(97, 97, 209));
$tipoDeLetra: 'Lexend Deca', sans-serif;
$tipoDeLetraTitulos: 'Belgrano', serif;
$fondoAzulMarino:rgb(25, 35, 94);