@import "especificos.scss";


*{
    padding: 0;
    margin: 0;
    color: rgb(0, 0, 0);
}

@mixin tamaños($width, $height){
    width: $width;
    height: $height;

}

@mixin transformacionContraida{
    transition: all 0.2s; 


    &:hover{
        transform: scale(0.97,0.97);
    }
    
}

@mixin agrandaElemento{
    transition: all .1s;

    &:hover{
        transform: scale(1.05,1.05);
    }
}

@mixin posicionamiento-items{
    justify-items: center;
    align-items: center;
    text-align: center; 
}

.subMenus{
    @include tamaños(100%, 100%);
    text-align: center;
    background-size: cover;
    border-radius: 8px;
    font-family: $tipoDeLetraTitulos;
    @include transformacionContraida;
            
    a{
        text-decoration: none;

        p{
            background-color: rgba(187, 185, 185, 0.486);
            color: #000000;
            position: relative;
            top: 50%;
            font-size: 1.3vw;
        }
    
    }
}

.entrenamientos{
    width: 100%;
    display: flex;
    flex-direction: column;
    
    h2{
        font-family: $tipoDeLetraTitulos;
    }
}

.cajaCambios{
    padding: 5%;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    background-color: #161069;
    height: 80%;
    width: 90%;
    text-align: justify;

    img{
        margin-top: 15%;
            width: 80%;
    }

    h3{
        font-family: $tipoDeLetraTitulos;
        font-size:4vw;
        margin-bottom: 5%;

        p{

            font-family: $tipoDeLetra;
            font-size: 1.3vw;
        }
    }
}





html body{
    @include tamaños(auto, 100%);
}

body{
    background-image:$colorFondo;
    height: 100%;

    .navbar{
        width: 100%;
        margin-bottom: 5%;
        align-items: flex-start;
        
        img{
            width: 10%;
            text-align: left;
        }

        ul{
            width: 50%;
        }
    }



    footer{
        margin-top: 5%;
        @include tamaños(100%, 100%);
        background-color: $fondoAzulMarino;
        text-align: center;



        ul{
            padding-top: 5%;
        }


        li{        
            font-family: $tipoDeLetraTitulos;
            font-size: 2vw;
            list-style:none;
            justify-content: center;
        
        
        }
        

        .contactos{
            text-align: center;
        }
    }
    
    
}   





main{
    height: 100%;
}




video{
    @include tamaños(80%, 80%);
}
    
.parrafo{
    font-size: 2vw;
    font-family: $tipoDeLetra;

    a{
        color: rgb(208, 126, 38);

        &:hover{
            color: orange;
        }
    }
}
    
    
    
 
    
    
.subMenu1{
    background-image: url(../imagenes/gimnasio.jpg);
    @extend .subMenus;
}
    
    
    
    
    
    
    
    
.subMenu2{
    background-image: url(../imagenes/entrenamiento.jpg);
    @extend .subMenus;

}
    
    
   
    
.subMenu3{ 
    background-image: url(../imagenes/nosotros.png);
    @extend .subMenus;
}




.formulario{
    display: inline-block;
    transition: all 0.5s ease 0s;
    @include tamaños(5%, 5%);
    position: fixed;
    text-align: center;
    right:2%; 
    bottom:10%;

        &:hover{
            transform: scale(1.05,1.05);
            height: 8%;
            border-radius: 400px;
        }

    svg{
        width: 70%;
    }

}


#grillaMainE{ 
    h2{
        font-family: $tipoDeLetraTitulos;
        width: 50%;
        font-size: 2vw;
        text-align: center;
    }
    




    .e1{
        @extend .entrenamientos;
    }


    .e2{
        @extend .entrenamientos;
    }

    .e3{
        @extend .entrenamientos;
    }

    .e4{
        @extend .entrenamientos;
    }

}





.formulario1{
    border-radius: 20px;
    background-image: linear-gradient(to right, rgb(78, 32, 184),rgb(77, 77, 196) ,rgb(122, 28, 122));
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    @include tamaños(60%, 70%);


    .texto{
        position: relative;
        left: 40%;
        width: 50%;
        font-size: 3vw;
        text-align: left;
        bottom: 30%;
    }

    h2{
        margin-top: 5%;
        font-size: 2vw;
        color: rgb(25, 12, 54);
        font-family: $tipoDeLetraTitulos;
        
        &:hover{
            color: #8541dd;
        }
    }

    input{
        font-family: $tipoDeLetra;
        border-radius: 10px;
        height: 5%;
        margin: 5%;
        box-shadow: #161069 4px 5px;
    }


    input[type="button"]{
        margin-top: 20%;
        background-color: #8541dd;
        border-radius: 15px;
        border: solid black 2px;
        @include tamaños(40%, 250%);
        transition: all .3s;

        &:hover{
            transform: scale(1.05,1.05);
            color: white;
        }
    }
}




.cambio1{
    @extend .cajaCambios;
}




.cambio2{
    @extend .cajaCambios;
}

.cambio3{
    @extend .cajaCambios;
}


.cambio4{
    @extend .cajaCambios;
}


.quienesSomos{
    font-size: 1.2vw;
    background-color: rgb(58, 80, 204);


    h1{
        font-family: $tipoDeLetraTitulos;
        height: 50%;
    }
    
    p{
        font-family: $tipoDeLetra
    }

}


.subInformacion{
    @include tamaños(50%, 50%);
    font-size: 1.5vw;

    h2{
        font-family: $tipoDeLetraTitulos;
    }

    p{
        text-align: justify;
        font-family: $tipoDeLetra;
    }
}







@media only screen and (min-width:600px){



    #grillaIndex{
        display:grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows:  10% 1fr 1fr 1fr 20%;
        grid-template-areas:"header header header"
                            "main main main"
                            "main main main"
                            "main main main"
                            "footer footer footer";



        .navbar{
            grid-area: header;
        }

        footer{       
            grid-area: footer;
        }

        #grillaMain{
            grid-area: main;
            display: grid;
            column-gap: 1%;
            row-gap:5%;
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-rows:  1fr 1fr 1fr;
            grid-template-areas:"video video texto" 
                                "video video texto"
                                "cuadro1 cuadro2 cuadro3";
            @include posicionamiento-items;
            position: relative;


            video{
                grid-area: video;
            }
        
            .parrafo{
                grid-area: texto;
                position: relative;
                width: 90%;
                right: 10%;
                text-align: justify;
            }
        
            
            .subMenu1{
                grid-area: cuadro1;
            }
        
            .subMenu2{
                grid-area: cuadro2;
            }
        
            .subMenu3{
                grid-area: cuadro3;
            }
        }
    }






    #grillaFormulario{
        height: 70em;
        width: 100%;
        display: grid;
        grid-template-columns: 25% 25% 25% 25%;
        grid-template-rows:10% 1fr 1fr 10% ;
        grid-template-areas: "header header header header"
                             "main main main main"
                             "main main main main"
                             "main main main main"
                             "footer footer footer footer";

        .navbar{
            padding-top: 1%;
            grid-area: header;
        }

        footer{
            grid-area: footer;
        }

        #grillaMainF{
            grid-area: main;
            display: grid;
            grid-template-columns: 25% 25% 25% 25%;
            grid-template-rows:50% 50%;
            grid-template-areas:"texto texto form form"
                                "texto texto form form";
            @include posicionamiento-items;

            .texto{
                grid-area: texto;
                position: relative;
                bottom: 10%;
                left: 20%;
                @include tamaños(50%, 50%);
            }

            .formulario1{
                grid-area: form;
                position: relative;
                bottom: 10%;
            }
        }
    }




    #grillaEntrenamiento{
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows:10% 1fr 1fr 10% ;
        grid-template-areas: "header header"
                             "main main"
                             "main main"
                             "footer footer";


        .navbar{
                grid-area: header;
        }

        footer{
            margin-top: 8%;
            grid-area: footer;
        }


        #grillaMainE{
            margin-bottom: 10%;
            @include tamaños(100%, 700px);
            grid-area: main;
            display: grid;
            row-gap: 10%;
            grid-template-columns: 25% 25% 25% 25%;
            grid-template-rows: 25% 25% 25% 25%;
            grid-template-areas: "rutina1 rutina1 rutina2 rutina2"
                                 "rutina1 rutina1 rutina2 rutina2"
                                "rutina3 rutina3 rutina4 rutina4"
                                "rutina3 rutina3 rutina4 rutina4";
            @include posicionamiento-items;


            .tamañoIFrame{
                height: 20em;
                width: 90%;
                }
                
            .e1{
                grid-area: rutina1;

                iframe{
                    @extend .tamañoIFrame;
                }

            }

            

            .e2{
                grid-area: rutina2;

                iframe{
                    @extend .tamañoIFrame;
                }
            }




            .e3{
                grid-area: rutina3;

                iframe{
                    @extend .tamañoIFrame;
                }
                
            }

            


            .e4{
                grid-area: rutina4;

                iframe{
                    @extend .tamañoIFrame;
                }
            }
        }
    }

   
    #grillaClientes{
        display: grid;
        grid-template-columns: 50% 50% ;
        grid-template-rows: 10% 40% 40% 10%;
        grid-template-areas:"header header"
                            "main main"
                            "main main"
                            "footer footer";

        .navbar{
            grid-area: header;
        }


        footer{
            grid-area: footer;
        }


        #grillaClientesM{        
            grid-area: main;
            display: grid;
            column-gap: 10%;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 50% 50%;
            grid-template-areas: "cambio1 cambio2"
                                 "cambio3 cambio4";
            margin: 0 10% 10% 10%;
            @include posicionamiento-items;



            .cambio1{
                grid-area: cambio1;
                @include agrandaElemento;
                
            }

            
            .cambio2{
                grid-area: cambio2;
                @include agrandaElemento;
            }
            
            .cambio3{
                grid-area: cambio3;
                @include agrandaElemento;
            }
            
            .cambio4{
                grid-area: cambio4;
                @include agrandaElemento;
            }
        }
    }

    



    #grillaNosotros{
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 10% 40% 40% 10% ;
        grid-template-areas: "header header"
                             "main main"
                             "main main"
                             "footer footer";


        .navbar{
            grid-area: header;
        }

        footer{
            grid-area: footer;
        }


        #grillaMainN{
            margin-top: 5%;
            grid-area: main;
            display: grid;
            grid-template-columns:50% 50% ;
            grid-template-rows:50% 50%;
            grid-template-areas: "foto Parrafo"
                                "cuadro cuadro";
            @include posicionamiento-items;


            .fondoNosotros{
                grid-area: foto;
            }
        
            .quienesSomos{
                background-color: linear-gradient(to right, rgb(58, 58, 148) ,rgb(97, 97, 209));
                border-radius: 16px;
                padding: 15px;
                @include tamaños(90%, 95%);
                grid-area: Parrafo;
                text-align: justify;

                h1{
                    margin-bottom: 3%;
                }
            
                p{
                    position: relative;
                    bottom: 40%;
                }
        
            }

            .subInformacion{
                grid-area: cuadro;
                position: relative;
                top: 20%;
                text-align: justify;
            }
             
        }
    }  

}



@media only screen and (max-width:600px){
    .formulario{
        position: fixed;
        height: 10%;
        right: 8%;
  
        svg{
            width:180%;
        }
    }

    footer{
        
        ul{
            width: 200%;
            height: 30%;
            position: relative;
            right: 90%;

            li{
                font-size: 3vw;
            }
        }
    }



    
    #grillaIndex{
        display:grid;
        grid-template-columns: 100%;
        grid-template-rows:  10% 1fr 1fr 1fr 10%;
        grid-template-areas:"header" 
                            "main"
                            "main"
                            "main"
                            "main"
                            "main"
                            "footer";


        .navbar{
            grid-area: header;
        }

        footer{
        grid-area: footer;
        }    


        #grillaMain{
            grid-area: main;
            display: grid;
            grid-template-columns: 100%;
            grid-template-rows: 1fr 10% 1fr 1fr 1fr;
            grid-template-areas: "video"
                                "parrafo"
                                "cuadro1"
                                "cuadro2"
                                "cuadro3";
            @include posicionamiento-items;


            video{
                grid-area: video;
                width: 80%;
                height: 80%;
            }


            .subMenuMobile{
                width: 100%;
                height: 80%;
                
                p{
                font-size: 4vw;
                }
            
            }
            .subMenu1{
                grid-area: cuadro1;
                @extend .subMenuMobile;
            }

            .subMenu2{
                grid-area: cuadro2;
                @extend .subMenuMobile;
            }
            .subMenu3{
                grid-area: cuadro3;
                @extend .subMenuMobile;
            }
            .parrafo{
                grid-area: parrafo;
                font-size: 3vw;
                width: 80%;
            }
        }
    }

    #grillaFormulario{
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 10% 1fr 1fr 10%;
        grid-template-areas:"header"
                            "main"
                            "main"
                            "footer";

   
   
        footer{
            grid-area: footer;
        }
    
    
        .navbar{
        grid-area: header;

        }
    
    
        #grillaMainF{
            height: 50em;
            grid-area: main;
            display: grid;
            grid-template-columns: 100%;
            grid-template-rows: 20% 80%;
            grid-template-areas: "texto"
                                "formulario";
            @include posicionamiento-items;
                
                
            .texto{
                grid-area: texto;
                position: relative;


            }
                
            .formulario1{
                grid-area: formulario;
                height: 70%;
                position: relative;

                input[type="button"]{
                    font-size: 2vw;
                    height: 5em;
                    width: 60%;
                    position: relative;
                    top: 50%;
                }

                input{
                    height: 2em;
                }
            }
        }      
    }       



    #grillaEntrenamiento{
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 10% 1fr 1fr 1fr 1fr 10%;
        grid-template-areas: "header"
                             "main"
                             "main"
                             "main"
                             "main"
                             "footer";


        .navbar{
             grid-area: header;
        }

        footer{
            grid-area: footer;
        }

        #grillaMainE{
            grid-area: main;
            display: grid;
            grid-template-columns: 100%;
            grid-template-rows: 1fr 1fr 1fr 1fr;
            grid-template-areas: "entrenamiento1"
                                 "entrenamiento2"
                                 "entrenamiento3"
                                 "entrenamiento4";
            @include posicionamiento-items;
            margin: 0 2% 0 2%;

            .e1{
                grid-area: entrenamiento1;
                margin: 5%;
            }
            .e2{
                grid-area: entrenamiento2;
                margin: 5%;
            }
            .e3{
                grid-area: entrenamiento3;
                margin: 5%;
            }
            .e4{
                grid-area: entrenamiento4;
                margin: 5%; 
            }   
        }
    }

    

    


    
    #grillaClientes{
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 10% 1fr 1fr 1fr 10%;
        grid-template-areas:"header"
                            "main"
                            "main"
                            "main"
                            "main"
                            "footer";


        .navbar{
            grid-area: header;
        }

        footer{
                grid-area: footer;
            }


        #grillaClientesM{
            height: 280em;
            grid-area: main;
            display: grid;
            row-gap: 5%;
            grid-template-columns:100%;
            grid-template-rows: 1fr 1fr 1fr 1fr;
            grid-template-areas:"cuadro1"
                                "cuadro2"
                                "cuadro3"
                                "cuadro4";
            @include posicionamiento-items;
            margin: 10% 0 0 2%;

            .cambio1{
                grid-area: cuadro1;
                height: 110%;
            }

            .cambio2{
                grid-area: cuadro2;
                height: 110%;
            }

            .cambio3{
                grid-area: cuadro3;
                height: 110%;
            }

            .cambio4{
                grid-area: cuadro4;
                height: 100%;
            }            
        }           
    }
   
   
   
        #grillaNosotros{
            display: grid;
            row-gap: 5%;
            column-gap: 5%;
            grid-template-columns:100% ;
            grid-template-rows: 10% 1fr 1fr 1fr 10%;
            grid-template-areas:"header"
                                "main"
                                "main"
                                "main"
                                "footer";

        
    
    
        .navbar{
        grid-area: header;
        }
    
    
        footer{
            grid-area: footer;
        }
    
    
        #grillaMainN{
            height: 50em;
            display: grid;
            grid-area: main;
            row-gap: 5%;
            grid-template-columns: 100%;
            grid-template-rows: 1fr 1fr 1fr;
            grid-template-areas:"foto"
                                "texto"
                                "subInformacion";
            @include posicionamiento-items;

            .quienesSomos{
                background-color: rgba(245, 245, 220, 0.432);
                border-radius: 8px;
                padding: 5%;
                grid-area: texto;
                @include tamaños(90%, 100%);
                font-size: 1.5vw;
                position: relative;
                
                p{
                    font-size:3vw;  
                    position: relative;
                    bottom:40%;
                    text-align: justify;
                }
            }    

            .fondoNosotros{

                grid-area: foto;
                
                img{
                    width: 100%;
                }
            }
                
            
            .subInformacion{
                @include tamaños(90%, 35%);
                grid-area: subInformacion;
                position: relative;
                bottom: 25%;
                margin-bottom: 5%;
                h2{
                    background-color: rgb(67, 67, 218);
                    border-radius: 10px;
                    font-size: 5vw;
                }
                p{
                    font-size: 3.5vw;
                    @include posicionamiento-items;
                
                }
            }
        }    
    }
}    


    






