@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  color: black; }

.subMenus, .subMenu1, .subMenu2, .subMenu3 {
  width: 100%;
  height: 100%;
  text-align: center;
  background-size: cover;
  border-radius: 8px;
  font-family: "Belgrano", serif;
  transition: all 0.2s; }
  .subMenus:hover, .subMenu1:hover, .subMenu2:hover, .subMenu3:hover {
    transform: scale(0.97, 0.97); }
  .subMenus a, .subMenu1 a, .subMenu2 a, .subMenu3 a {
    text-decoration: none; }
    .subMenus a p, .subMenu1 a p, .subMenu2 a p, .subMenu3 a p {
      background-color: rgba(187, 185, 185, 0.486);
      color: #000000;
      position: relative;
      top: 50%;
      font-size: 1.3vw; }

.entrenamientos, #grillaMainE .e1, #grillaMainE .e2, #grillaMainE .e3, #grillaMainE .e4 {
  width: 100%;
  display: flex;
  flex-direction: column; }
  .entrenamientos h2, #grillaMainE .e1 h2, #grillaMainE .e2 h2, #grillaMainE .e3 h2, #grillaMainE .e4 h2 {
    font-family: "Belgrano", serif; }

.cajaCambios, .cambio1, .cambio2, .cambio3, .cambio4 {
  padding: 5%;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  background-color: #161069;
  height: 80%;
  width: 90%;
  text-align: justify; }
  .cajaCambios img, .cambio1 img, .cambio2 img, .cambio3 img, .cambio4 img {
    margin-top: 15%;
    width: 80%; }
  .cajaCambios h3, .cambio1 h3, .cambio2 h3, .cambio3 h3, .cambio4 h3 {
    font-family: "Belgrano", serif;
    font-size: 4vw;
    margin-bottom: 5%; }
    .cajaCambios h3 p, .cambio1 h3 p, .cambio2 h3 p, .cambio3 h3 p, .cambio4 h3 p {
      font-family: "Lexend Deca", sans-serif;
      font-size: 1.3vw; }

html body {
  width: auto;
  height: 100%; }

body {
  background-image: linear-gradient(to right, #4c00ff, #3a3a94, #6161d1);
  height: 100%; }
  body .navbar {
    width: 100%;
    margin-bottom: 5%;
    align-items: flex-start; }
    body .navbar img {
      width: 10%;
      text-align: left; }
    body .navbar ul {
      width: 50%; }
  body footer {
    margin-top: 5%;
    width: 100%;
    height: 100%;
    background-color: #19235e;
    text-align: center; }
    body footer ul {
      padding-top: 5%; }
    body footer li {
      font-family: "Belgrano", serif;
      font-size: 2vw;
      list-style: none;
      justify-content: center; }
    body footer .contactos {
      text-align: center; }

main {
  height: 100%; }

video {
  width: 80%;
  height: 80%; }

.parrafo {
  font-size: 2vw;
  font-family: "Lexend Deca", sans-serif; }
  .parrafo a {
    color: #d07e26; }
    .parrafo a:hover {
      color: orange; }

.subMenu1 {
  background-image: url(../imagenes/gimnasio.jpg); }

.subMenu2 {
  background-image: url(../imagenes/entrenamiento.jpg); }

.subMenu3 {
  background-image: url(../imagenes/nosotros.png); }

.formulario {
  display: inline-block;
  transition: all 0.5s ease 0s;
  width: 5%;
  height: 5%;
  position: fixed;
  text-align: center;
  right: 2%;
  bottom: 10%; }
  .formulario:hover {
    transform: scale(1.05, 1.05);
    height: 8%;
    border-radius: 400px; }
  .formulario svg {
    width: 70%; }

#grillaMainE h2 {
  font-family: "Belgrano", serif;
  width: 50%;
  font-size: 2vw;
  text-align: center; }

.formulario1 {
  border-radius: 20px;
  background-image: linear-gradient(to right, #4e20b8, #4d4dc4, #7a1c7a);
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 60%;
  height: 70%; }
  .formulario1 .texto {
    position: relative;
    left: 40%;
    width: 50%;
    font-size: 3vw;
    text-align: left;
    bottom: 30%; }
  .formulario1 h2 {
    margin-top: 5%;
    font-size: 2vw;
    color: #190c36;
    font-family: "Belgrano", serif; }
    .formulario1 h2:hover {
      color: #8541dd; }
  .formulario1 input {
    font-family: "Lexend Deca", sans-serif;
    border-radius: 10px;
    height: 5%;
    margin: 5%;
    box-shadow: #161069 4px 5px; }
  .formulario1 input[type="button"] {
    margin-top: 20%;
    background-color: #8541dd;
    border-radius: 15px;
    border: solid black 2px;
    width: 40%;
    height: 250%;
    transition: all .3s; }
    .formulario1 input[type="button"]:hover {
      transform: scale(1.05, 1.05);
      color: white; }

.quienesSomos {
  font-size: 1.2vw;
  background-color: #3a50cc; }
  .quienesSomos h1 {
    font-family: "Belgrano", serif;
    height: 50%; }
  .quienesSomos p {
    font-family: "Lexend Deca", sans-serif; }

.subInformacion {
  width: 50%;
  height: 50%;
  font-size: 1.5vw; }
  .subInformacion h2 {
    font-family: "Belgrano", serif; }
  .subInformacion p {
    text-align: justify;
    font-family: "Lexend Deca", sans-serif; }

@media only screen and (min-width: 600px) {
  #grillaIndex {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 10% 1fr 1fr 1fr 20%;
    grid-template-areas: "header header header" "main main main" "main main main" "main main main" "footer footer footer"; }
    #grillaIndex .navbar {
      grid-area: header; }
    #grillaIndex footer {
      grid-area: footer; }
    #grillaIndex #grillaMain {
      grid-area: main;
      display: grid;
      column-gap: 1%;
      row-gap: 5%;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;
      grid-template-areas: "video video texto"  "video video texto" "cuadro1 cuadro2 cuadro3";
      justify-items: center;
      align-items: center;
      text-align: center;
      position: relative; }
      #grillaIndex #grillaMain video {
        grid-area: video; }
      #grillaIndex #grillaMain .parrafo {
        grid-area: texto;
        position: relative;
        width: 90%;
        right: 10%;
        text-align: justify; }
      #grillaIndex #grillaMain .subMenu1 {
        grid-area: cuadro1; }
      #grillaIndex #grillaMain .subMenu2 {
        grid-area: cuadro2; }
      #grillaIndex #grillaMain .subMenu3 {
        grid-area: cuadro3; }
  #grillaFormulario {
    height: 70em;
    width: 100%;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 10% 1fr 1fr 10%;
    grid-template-areas: "header header header header" "main main main main" "main main main main" "main main main main" "footer footer footer footer"; }
    #grillaFormulario .navbar {
      padding-top: 1%;
      grid-area: header; }
    #grillaFormulario footer {
      grid-area: footer; }
    #grillaFormulario #grillaMainF {
      grid-area: main;
      display: grid;
      grid-template-columns: 25% 25% 25% 25%;
      grid-template-rows: 50% 50%;
      grid-template-areas: "texto texto form form" "texto texto form form";
      justify-items: center;
      align-items: center;
      text-align: center; }
      #grillaFormulario #grillaMainF .texto {
        grid-area: texto;
        position: relative;
        bottom: 10%;
        left: 20%;
        width: 50%;
        height: 50%; }
      #grillaFormulario #grillaMainF .formulario1 {
        grid-area: form;
        position: relative;
        bottom: 10%; }
  #grillaEntrenamiento {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 10% 1fr 1fr 10%;
    grid-template-areas: "header header" "main main" "main main" "footer footer"; }
    #grillaEntrenamiento .navbar {
      grid-area: header; }
    #grillaEntrenamiento footer {
      margin-top: 8%;
      grid-area: footer; }
    #grillaEntrenamiento #grillaMainE {
      margin-bottom: 10%;
      width: 100%;
      height: 700px;
      grid-area: main;
      display: grid;
      row-gap: 10%;
      grid-template-columns: 25% 25% 25% 25%;
      grid-template-rows: 25% 25% 25% 25%;
      grid-template-areas: "rutina1 rutina1 rutina2 rutina2" "rutina1 rutina1 rutina2 rutina2" "rutina3 rutina3 rutina4 rutina4" "rutina3 rutina3 rutina4 rutina4";
      justify-items: center;
      align-items: center;
      text-align: center; }
      #grillaEntrenamiento #grillaMainE .tamañoIFrame, #grillaEntrenamiento #grillaMainE .e1 iframe, #grillaEntrenamiento #grillaMainE .e2 iframe, #grillaEntrenamiento #grillaMainE .e3 iframe, #grillaEntrenamiento #grillaMainE .e4 iframe {
        height: 20em;
        width: 90%; }
      #grillaEntrenamiento #grillaMainE .e1 {
        grid-area: rutina1; }
      #grillaEntrenamiento #grillaMainE .e2 {
        grid-area: rutina2; }
      #grillaEntrenamiento #grillaMainE .e3 {
        grid-area: rutina3; }
      #grillaEntrenamiento #grillaMainE .e4 {
        grid-area: rutina4; }
  #grillaClientes {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 10% 40% 40% 10%;
    grid-template-areas: "header header" "main main" "main main" "footer footer"; }
    #grillaClientes .navbar {
      grid-area: header; }
    #grillaClientes footer {
      grid-area: footer; }
    #grillaClientes #grillaClientesM {
      grid-area: main;
      display: grid;
      column-gap: 10%;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 50% 50%;
      grid-template-areas: "cambio1 cambio2" "cambio3 cambio4";
      margin: 0 10% 10% 10%;
      justify-items: center;
      align-items: center;
      text-align: center; }
      #grillaClientes #grillaClientesM .cambio1 {
        grid-area: cambio1;
        transition: all .1s; }
        #grillaClientes #grillaClientesM .cambio1:hover {
          transform: scale(1.05, 1.05); }
      #grillaClientes #grillaClientesM .cambio2 {
        grid-area: cambio2;
        transition: all .1s; }
        #grillaClientes #grillaClientesM .cambio2:hover {
          transform: scale(1.05, 1.05); }
      #grillaClientes #grillaClientesM .cambio3 {
        grid-area: cambio3;
        transition: all .1s; }
        #grillaClientes #grillaClientesM .cambio3:hover {
          transform: scale(1.05, 1.05); }
      #grillaClientes #grillaClientesM .cambio4 {
        grid-area: cambio4;
        transition: all .1s; }
        #grillaClientes #grillaClientesM .cambio4:hover {
          transform: scale(1.05, 1.05); }
  #grillaNosotros {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 10% 40% 40% 10%;
    grid-template-areas: "header header" "main main" "main main" "footer footer"; }
    #grillaNosotros .navbar {
      grid-area: header; }
    #grillaNosotros footer {
      grid-area: footer; }
    #grillaNosotros #grillaMainN {
      margin-top: 5%;
      grid-area: main;
      display: grid;
      grid-template-columns: 50% 50%;
      grid-template-rows: 50% 50%;
      grid-template-areas: "foto Parrafo" "cuadro cuadro";
      justify-items: center;
      align-items: center;
      text-align: center; }
      #grillaNosotros #grillaMainN .fondoNosotros {
        grid-area: foto; }
      #grillaNosotros #grillaMainN .quienesSomos {
        background-color: linear-gradient(to right, #3a3a94, #6161d1);
        border-radius: 16px;
        padding: 15px;
        width: 90%;
        height: 95%;
        grid-area: Parrafo;
        text-align: justify; }
        #grillaNosotros #grillaMainN .quienesSomos h1 {
          margin-bottom: 3%; }
        #grillaNosotros #grillaMainN .quienesSomos p {
          position: relative;
          bottom: 40%; }
      #grillaNosotros #grillaMainN .subInformacion {
        grid-area: cuadro;
        position: relative;
        top: 20%;
        text-align: justify; } }

@media only screen and (max-width: 600px) {
  .formulario {
    position: fixed;
    height: 10%;
    right: 8%; }
    .formulario svg {
      width: 180%; }
  footer ul {
    width: 200%;
    height: 30%;
    position: relative;
    right: 90%; }
    footer ul li {
      font-size: 3vw; }
  #grillaIndex {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 10% 1fr 1fr 1fr 10%;
    grid-template-areas: "header"  "main" "main" "main" "main" "main" "footer"; }
    #grillaIndex .navbar {
      grid-area: header; }
    #grillaIndex footer {
      grid-area: footer; }
    #grillaIndex #grillaMain {
      grid-area: main;
      display: grid;
      grid-template-columns: 100%;
      grid-template-rows: 1fr 10% 1fr 1fr 1fr;
      grid-template-areas: "video" "parrafo" "cuadro1" "cuadro2" "cuadro3";
      justify-items: center;
      align-items: center;
      text-align: center; }
      #grillaIndex #grillaMain video {
        grid-area: video;
        width: 80%;
        height: 80%; }
      #grillaIndex #grillaMain .subMenuMobile, #grillaIndex #grillaMain .subMenu1, #grillaIndex #grillaMain .subMenu2, #grillaIndex #grillaMain .subMenu3 {
        width: 100%;
        height: 80%; }
        #grillaIndex #grillaMain .subMenuMobile p, #grillaIndex #grillaMain .subMenu1 p, #grillaIndex #grillaMain .subMenu2 p, #grillaIndex #grillaMain .subMenu3 p {
          font-size: 4vw; }
      #grillaIndex #grillaMain .subMenu1 {
        grid-area: cuadro1; }
      #grillaIndex #grillaMain .subMenu2 {
        grid-area: cuadro2; }
      #grillaIndex #grillaMain .subMenu3 {
        grid-area: cuadro3; }
      #grillaIndex #grillaMain .parrafo {
        grid-area: parrafo;
        font-size: 3vw;
        width: 80%; }
  #grillaFormulario {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 10% 1fr 1fr 10%;
    grid-template-areas: "header" "main" "main" "footer"; }
    #grillaFormulario footer {
      grid-area: footer; }
    #grillaFormulario .navbar {
      grid-area: header; }
    #grillaFormulario #grillaMainF {
      height: 50em;
      grid-area: main;
      display: grid;
      grid-template-columns: 100%;
      grid-template-rows: 20% 80%;
      grid-template-areas: "texto" "formulario";
      justify-items: center;
      align-items: center;
      text-align: center; }
      #grillaFormulario #grillaMainF .texto {
        grid-area: texto;
        position: relative; }
      #grillaFormulario #grillaMainF .formulario1 {
        grid-area: formulario;
        height: 70%;
        position: relative; }
        #grillaFormulario #grillaMainF .formulario1 input[type="button"] {
          font-size: 2vw;
          height: 5em;
          width: 60%;
          position: relative;
          top: 50%; }
        #grillaFormulario #grillaMainF .formulario1 input {
          height: 2em; }
  #grillaEntrenamiento {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 10% 1fr 1fr 1fr 1fr 10%;
    grid-template-areas: "header" "main" "main" "main" "main" "footer"; }
    #grillaEntrenamiento .navbar {
      grid-area: header; }
    #grillaEntrenamiento footer {
      grid-area: footer; }
    #grillaEntrenamiento #grillaMainE {
      grid-area: main;
      display: grid;
      grid-template-columns: 100%;
      grid-template-rows: 1fr 1fr 1fr 1fr;
      grid-template-areas: "entrenamiento1" "entrenamiento2" "entrenamiento3" "entrenamiento4";
      justify-items: center;
      align-items: center;
      text-align: center;
      margin: 0 2% 0 2%; }
      #grillaEntrenamiento #grillaMainE .e1 {
        grid-area: entrenamiento1;
        margin: 5%; }
      #grillaEntrenamiento #grillaMainE .e2 {
        grid-area: entrenamiento2;
        margin: 5%; }
      #grillaEntrenamiento #grillaMainE .e3 {
        grid-area: entrenamiento3;
        margin: 5%; }
      #grillaEntrenamiento #grillaMainE .e4 {
        grid-area: entrenamiento4;
        margin: 5%; }
  #grillaClientes {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 10% 1fr 1fr 1fr 10%;
    grid-template-areas: "header" "main" "main" "main" "main" "footer"; }
    #grillaClientes .navbar {
      grid-area: header; }
    #grillaClientes footer {
      grid-area: footer; }
    #grillaClientes #grillaClientesM {
      height: 280em;
      grid-area: main;
      display: grid;
      row-gap: 5%;
      grid-template-columns: 100%;
      grid-template-rows: 1fr 1fr 1fr 1fr;
      grid-template-areas: "cuadro1" "cuadro2" "cuadro3" "cuadro4";
      justify-items: center;
      align-items: center;
      text-align: center;
      margin: 10% 0 0 2%; }
      #grillaClientes #grillaClientesM .cambio1 {
        grid-area: cuadro1;
        height: 110%; }
      #grillaClientes #grillaClientesM .cambio2 {
        grid-area: cuadro2;
        height: 110%; }
      #grillaClientes #grillaClientesM .cambio3 {
        grid-area: cuadro3;
        height: 110%; }
      #grillaClientes #grillaClientesM .cambio4 {
        grid-area: cuadro4;
        height: 100%; }
  #grillaNosotros {
    display: grid;
    row-gap: 5%;
    column-gap: 5%;
    grid-template-columns: 100%;
    grid-template-rows: 10% 1fr 1fr 1fr 10%;
    grid-template-areas: "header" "main" "main" "main" "footer"; }
    #grillaNosotros .navbar {
      grid-area: header; }
    #grillaNosotros footer {
      grid-area: footer; }
    #grillaNosotros #grillaMainN {
      height: 50em;
      display: grid;
      grid-area: main;
      row-gap: 5%;
      grid-template-columns: 100%;
      grid-template-rows: 1fr 1fr 1fr;
      grid-template-areas: "foto" "texto" "subInformacion";
      justify-items: center;
      align-items: center;
      text-align: center; }
      #grillaNosotros #grillaMainN .quienesSomos {
        background-color: rgba(245, 245, 220, 0.432);
        border-radius: 8px;
        padding: 5%;
        grid-area: texto;
        width: 90%;
        height: 100%;
        font-size: 1.5vw;
        position: relative; }
        #grillaNosotros #grillaMainN .quienesSomos p {
          font-size: 3vw;
          position: relative;
          bottom: 40%;
          text-align: justify; }
      #grillaNosotros #grillaMainN .fondoNosotros {
        grid-area: foto; }
        #grillaNosotros #grillaMainN .fondoNosotros img {
          width: 100%; }
      #grillaNosotros #grillaMainN .subInformacion {
        width: 90%;
        height: 35%;
        grid-area: subInformacion;
        position: relative;
        bottom: 25%;
        margin-bottom: 5%; }
        #grillaNosotros #grillaMainN .subInformacion h2 {
          background-color: #4343da;
          border-radius: 10px;
          font-size: 5vw; }
        #grillaNosotros #grillaMainN .subInformacion p {
          font-size: 3.5vw;
          justify-items: center;
          align-items: center;
          text-align: center; } }
